*{
margin:0;
padding:0;
}

body {
background-color: white;
margin: 0 auto;
}

h1 {
 font: helvetica neue bold;
 font-family: sans-serif;
 padding-top: 80px;
 text-align: center;
	
}

.period {
	color:red;
	font-size: 8em;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

h2 {
 font: helvetica neue bold;
	font-family: sans-serif;
	text-align: center;
	text-align: justify;
	margin-left: 150px;
	margin-right: 150px;
	padding-top: 60px;
	
}

