*{
margin:0;
padding:0;
}

body {
background-color: white;
margin: 0 auto;
max-width: 600px;
min-width: 200px;
}

.home {
padding-top: 25px;
margin-left: -120px;
}

img {
	max-width: 100%;
}


/*---------HOVERING START----------*/
.home a:link{
	color: #FFF;
}

.home a:visited{
	color: #FFF;
}

.home a:hover{
	opacity: 0.6;
	filter: alpha(opacity=60%);
}

.nav a:link {
color: #FFF;
}

.nav a:visited {
color: #FFF;
}

.nav a:hover {
opacity: 0.6;
filter: alpha(opacity=60);
}

.contact a:link{
	color: #FFF;
}

.contact a: visited {
	color: #FFF;

}

.contact a:hover {
	opacity: 0.6;
	filter: alpha (opacity=60%) }
		

.social a:link {
color: #FFF;
}

.social a:visited {
color: #FFF;
}

.social a:hover {
opacity: 0.6;
filter: alpha(opacity=60);
}


/*---------HOVERING END----------*/

.main {
min-height: 30px;
background-color: white;
margin-left: -100px;
margin-top: 20px;
max-width: 900px;


}

.video

#sub {
min-height: 20px;
background-color: white;
padding-left: 750px;
padding-top: 25px;
padding-bottom: 25px;
}

.social {
	display: inline flex;
	float: right;
}

.aboutparagraph {
	text-align: justify;
	font-family: sans-serif; 
	padding-bottom: 20px;
}



.contact {
	padding-bottom: 20px;
	text-align: center;
	font-family: sans-serif;
	text-decoration: none;
	
	
}

	

footer {
	font-family: sans-serif;
	text-align: left;
	margin-left: -60px;
	
}


.content{
	text-align: center;
	margin-left: -200px

}

.video-wrapper{
    margin: 0 auto;
    display: block;
    width: 50%;
    margin-bottom: 100px;
/*	text-align: center;*/
}

.audio{
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
	text-align: center;
}

.video{
    display: block;
	margin-top: 130px;
    margin-bottom: 10px;
	max-width: 800px;	
}


	

/* MEDIA QUIERY */

@media only screen and (max-width:800px) {
	.nav {
		max-width: 100%;
		
	}
	
	img {
		max-width: 60%;
		text-align: center;
		margin-left: 150px
		
	}
	
	footer{
	max-width: 100%;
	margin-left: 50px;
	}
	
	.aboutparagraph {
		text-align: justify;	
		font-family: sans-serif;
		
	}
	
	.social {
		max-width: 100%;
		margin-left: 0px;
		
	}

	


@media only screen and (max-width:500px) {
	.nav {
		max-width: 100%;
		
	}
	
	img {
		max-width: 60%;
		text-align: center;
		margin-left: 150px
		
	}
	
	footer{
	max-width: 100%;
	margin-left: 50px;
	}
	
	.aboutparagraph {
		text-align:justify;
		padding-right: 50px;
		padding-left: 50px;
		font-size: 0.5em;
		
		
	}
	
 img .social {
		max-width: 100%;
	 	margin left: 0px;
	}

figure .social {
		max-width: 100%;
	 	margin left: 0px;
	}
	
	

@media only screen and (max-width:400px) {
	
	.nav {
		max-width: 100%;
		
	}
	
	img {
		max-width: 60%;
		text-align: center;
		margin-left: 150px
		
	}
	
	footer{
	max-width: 100%;
	margin-left: 50px;
	}
	
	.aboutparagraph {
	text-align: justify;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 0px;
	font-size: 0.5em;
		
	}
	
	.social {
		max-width: 100%;
	}
	


	
	
	
	
	







