body {
    background-color:white;
    font-family:Helvetica Neue;
    font-size: 100%;
    font-weight: 400;
    margin: 0 auto;
    max-width: 60em;
}

header {
    min-height: 5em;
    width: 100%;
	text-align: center;
	padding-top: 20px;
}

.page-wrapper {
    background-color:black;
    min-height: 20em;
    padding-bottom: 6em;
    padding-top: 6em;
    width: 100%
}

.moon {
	animation: moon 2.5s infinite steps(7);
    background: url('../img/moonc.png') 0 0;
    height: 400px;
    width: 280px;
	margin-left: 350px;

}

@keyframes moon {
    to {
        background-position: -2000px;
    }
}
	
}

.circle {
    background:black;
    border-radius: 50%;
    margin: 0 auto;
    max-width: 10em;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-name: moon-cycle;
	animation-timing-function: linear;
	position: relative;
	
	
	
	
}

